#svg-container {
	background-color: #000000;
	display: grid;
	grid-template-areas: ". dashboard .";
	grid-template-columns: auto 60% auto;
	height: 100vh;
	align-content: center;

	>div {
		grid-area: dashboard;
	}
}