#svg-container {
	background-color: #ffffff;
	display: grid;
	grid-template-areas: ". dashboard .";
	grid-template-columns: auto 80% auto;
	height: 100vh;

	>div {
		grid-area: dashboard;

		#shape {

		}
	}
}